---
layout: default
title: Essay archive
permalink: /archive
---

<div class="popout-banner">
  <h1>Essay archive</h1>
  <p>
    Nothing to Say began its life in 2017 as an online journal where artists
    wrote about things they care about. We're currently focusing on publishing
    books, with an emphasis on computational poetry and other experimental
    forms. This page contains an archive of our previously published essays.
  </p>
</div>

<ul class="post-list">
  {% for post in site.posts %}
  <li>
    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}

    <span class="post-meta"
      >{{ post.date | date: date_format }} • {% if post.layout == "post" %}<a
        href="/contributors.html#{{ post.author_slug }}"
        >{{ post.author }}</a
      >{% elsif post.layout == "review" %}<a href="/something-to-say/"
        >something to say</a
      >{% endif %}</span
    >

    <h2>
      <a class="post-link" href="{{ post.url | relative_url }}"
        >{{ post.title }}</a
      >
    </h2>
    {% if post.description %}
    <span class="post-description">{{ post.description }}</span>
    {% elsif post.external_thumbnail_description %}
    <span class="post-description"
      >{{ post.external_thumbnail_description }}</span
    >
    {% endif %}
  </li>
  {% endfor %}
</ul>
