---
layout: default
permalink: /between-heart-and-sap/audio
include_plyr: "true"
---

<style>
  .playlist {
    font-family: Avenir, "Avenir Next", "Helvetica Neue", "Segoe UI", Helvetica,
      Arial, sans-serif;
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
  }

  /* Plyr player styles */
  .plyr-wrapper {
    font-family: Avenir, "Avenir Next", "Helvetica Neue", "Segoe UI", Helvetica,
      Arial, sans-serif;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 1000px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  #current-track {
    font-size: 20px;
  }

  .plyr audio {
    width: 100%;
  }

  /* Album art styles */
  .album-art {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 2rem;
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  /* Playlist styles */
  .playlist--list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.4;
    color: #565d64;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .playlist--list li {
    margin: 0;
    padding: 1rem 1.5rem;
    cursor: pointer;
    border-bottom: 1px solid #edf2f7;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
  }

  .playlist--list li:last-child {
    border-bottom: none;
  }

  .playlist--list li:before {
    content: "▶";
    margin-right: 1rem;
    font-size: 0.8em;
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  .playlist--list li:hover {
    background-color: #f8fafc;
    color: #3498db;
  }

  .playlist--list li:hover:before {
    opacity: 0.5;
  }

  .playlist--list li.active {
    background-color: #edf2f7;
    color: #2d3748;
    font-weight: 500;
  }

  .playlist--list li.active:before {
    opacity: 1;
    color: #3498db;
  }

  /* Ensure proper spacing and font size on mobile */
  @media (max-width: 640px) {
    .playlist {
      margin: 1rem auto;
    }

    .playlist--list li {
      padding: 0.75rem 1rem;
      font-size: 14px; /* Adjust font size for mobile */
    }
  }
</style>

<h2>Between Heart and Sap: Audiobook</h2>
<p>
  This is the audiobook for the poetry collection,
  <a
    href="https://shop.nothing-to-say.org/products/between-heart-and-sap-by-dani-cole"
    >Between Heart and Sap</a
  >
  by <a href="https://www.ecologicalbodiesbeing.com/">Dani Cole</a>.
</p>
<p id="purchase-info-not-preview">
  If you haven't yet purchased this audiobook, or gotten it free with a physical
  copy of the book, please <a href="https://shop.nothing-to-say.org/products/between-heart-and-sap-audiobook-by-dani-cole">support the author by doing so here.</a>
</p>
<p id="purchase-info-preview" style="display: none">
  This is a preview of the audiobook. Please
  <a href="https://shop.nothing-to-say.org/products/between-heart-and-sap-audiobook-by-dani-cole">purchase a copy here</a> to listen to and download the complete
  audiobook.
</p>

<div class="playlist">
  <img
    src="https://f005.backblazeb2.com/file/nts-website-assets/between-heart-and-sap-audiobook/audiobook-cover.jpg"
    alt="Album Art"
    class="album-art"
  />
  <p id="current-track">...</p>
  <div class="plyr-wrapper">
    <audio controls></audio>
  </div>
  <ul class="playlist--list">
    <li
      data-id="0"
      data-audio="https://f005.backblazeb2.com/file/nts-website-assets/between-heart-and-sap-audiobook/01_Title+and+Dedication.mp3"
    >
      Title and Dedication
    </li>
    <li
      data-id="1"
      data-audio="https://f005.backblazeb2.com/file/nts-website-assets/between-heart-and-sap-audiobook/02_Song.mp3"
    >
      Song
    </li>
    <li
      data-id="2"
      data-audio="https://f005.backblazeb2.com/file/nts-website-assets/between-heart-and-sap-audiobook/03_Part+I.mp3"
    >
      Part I
    </li>
    <li
      data-id="3"
      data-audio="https://f005.backblazeb2.com/file/nts-website-assets/between-heart-and-sap-audiobook/04_Part+II.mp3"
    >
      Part II
    </li>
    <li
      data-id="4"
      data-audio="https://f005.backblazeb2.com/file/nts-website-assets/between-heart-and-sap-audiobook/05_Part+III.mp3"
    >
      Part III
    </li>
    <li
      data-id="5"
      data-audio="https://f005.backblazeb2.com/file/nts-website-assets/between-heart-and-sap-audiobook/06_Part+IV.mp3"
    >
      Part IV
    </li>
    <li
      data-id="6"
      data-audio="https://f005.backblazeb2.com/file/nts-website-assets/between-heart-and-sap-audiobook/07_Part+V.mp3"
    >
      Part V
    </li>
    <li
      data-id="7"
      data-audio="https://f005.backblazeb2.com/file/nts-website-assets/between-heart-and-sap-audiobook/08_Part+VI.mp3"
    >
      Part VI
    </li>
    <li
      data-id="8"
      data-audio="https://f005.backblazeb2.com/file/nts-website-assets/between-heart-and-sap-audiobook/09_Acknowledgements.mp3"
    >
      Acknowledgements
    </li>
  </ul>

  <a
    href="https://f005.backblazeb2.com/file/nts-website-assets/between-heart-and-sap-audiobook/between-heart-and-sap-lossless.zip"
    >Download all tracks</a
  >
</div>

<p>
  Read by Dani Cole<br />
  Music by Christian Tan-lin Li with sounds recorded on tape in Prospect Park,
  Brooklyn<br />
  Cover painting by Paula Walters Parker
</p>
<p>
  You can
  <a
    href="https://shop.nothing-to-say.org/products/between-heart-and-sap-by-dani-cole"
    >purchase a physical copy of the book here</a
  >.
</p>
<p>Copyright 2025 by Dani Cole</p>
<p>
  This book is published under a
  <a href="https://creativecommons.org/licenses/by-nc-sa/4.0"
    >Creative Commons BY-NC-SA 4.0 International License</a
  >. Under its terms you are invited to share and remix this work, so long as
  proper attribution is given, it is not used for commercial purposes, and any
  derivative works are shared under compatible terms.
</p>
<p>
  For further permission requests, please
  <a href="mailto:editors@nothing-to-say.org">contact the publisher</a>.
</p>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const urlParams = new URLSearchParams(window.location.search);
    const isPreview = urlParams.get("view") === "preview";

    const player = new Plyr("audio", {
      controls: ["play", "progress", "current-time", "mute", "volume"],
    });

    var playlist = document.querySelector(".playlist");
    var songs = playlist.querySelectorAll(".playlist--list li");
    var active = null;

    if (isPreview) {
      // Show only the first three tracks
      for (let i = 3; i < songs.length; i++) {
        songs[i].style.display = "none";
      }

      // Hide the download link
      document.querySelector(
        'a[href$="between-heart-and-sap-lossless.zip"]'
      ).style.display = "none";

      // Update the paragraph text
      document.getElementById("purchase-info-not-preview").style.display =
        "none";
      document.getElementById("purchase-info-preview").style.display = "block";
    }

    for (let i = 0; i < songs.length; i++) {
      songs[i].onclick = changeChannel;
    }

    setSource(getId(songs[0]), buildSource(songs[0]), false);

    player.on("ended", nextSong);

    function changeChannel(e) {
      setSource(getId(e.target), buildSource(e.target), true);
    }

    function getId(el) {
      return Number(el.getAttribute("data-id"));
    }

    function buildSource(el) {
      return [
        {
          src: el.getAttribute("data-audio"),
          type: "audio/mpeg",
        },
      ];
    }

    function setSource(selected, sourceAudio, play) {
      if (active !== selected) {
        active = selected;
        player.source = {
          type: "audio",
          title: songs[selected].textContent,
          sources: sourceAudio,
        };

        document.getElementById("current-track").textContent =
          songs[selected].textContent;

        for (var i = 0; i < songs.length; i++) {
          if (Number(songs[i].getAttribute("data-id")) === selected) {
            songs[i].className = "active";
          } else {
            songs[i].className = "";
          }
        }

        if (play) {
          player.play();
        }
      } else {
        player.togglePlay();
      }
    }

    function nextSong(e) {
      var next = active + 1;
      if (next < songs.length) {
        setSource(getId(songs[next]), buildSource(songs[next]), true);
      }
    }
  });
</script>
