---
title: contributors
layout: default
---

<h1>contributors</h1>

<ul class="contributors-list">

  {% for contributor in site.data.contributors.contributors %}
    <li><p class="contributor-name">{{ contributor.name }}</p>
      {% if contributor.blurb %}
        <p>{{ contributor.blub }}</p>
      {% endif %}
      {% if contributor.links %}
        {% for link in contributor.links %}
          <a href="{{ link.url }}">{{ link.name }}</a>{% if forloop.last == false %}, {% endif %}
        {% endfor %}
      {% endif %}
      {% if contributor.email %}
        <a href="mailto:{{ contributor.email }}">contact</a>
      {% endif %}
      <p>entries</p>
      <ul class="contributor-entries">
        {% assign contributor_posts = site.posts | where: "author_slug", contributor.slug %}
        {% for post in contributor_posts %}
            <li>
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
            </li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}

</ul>
