---
title: contributors
layout: default
permalink: /contributors
---

<h1>contributors</h1>

<ul class="contributors-list">

    {% for contributor in site.data.contributors.contributors %}
      <li id="{{ contributor.slug }}"><p class="contributor-name">{{ contributor.name }}{% if contributor.area %}; {{ contributor.area }}{% endif %}</p>
      <div class="contributor-details">
        {% if contributor.blurb %}
          <p>{{ contributor.blurb }}</p>
        {% endif %}
        {% if contributor.links %}
          {% for link in contributor.links %}
            <a href="{{ link.url }}">{{ link.name }}</a>{% if forloop.last == false %}, {% endif %}
          {% endfor %}
        {% endif %}
        {% if contributor.email %}
          <a href="mailto:{{ contributor.email }}">contact</a>
        {% endif %}
        <ul class="contributor-entries">
          {% assign contributor_posts = site.posts | where: "author_slug", contributor.slug %}
          {% for post in contributor_posts %}
            <li>
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </li>
  {% endfor %}

</ul>

<script>
 /**
  * Since we don't want whoever comes first in the contributors list
  * to get all the visibility, we randomize the order on each page load.
  */

 function shuffleArray(array) {
   // Courtesy of http://stackoverflow.com/a/12646864/5615927
   for (var i = array.length - 1; i > 0; i--) {
     var j = Math.floor(Math.random() * (i + 1));
     var temp = array[i];
     array[i] = array[j];
     array[j] = temp;
   }
   return array;
 }

 function shuffleContributors() {
   var wrapper = document.getElementsByClassName("contributors-list");
   var contributors = wrapper[0].children;
   var shuffledContributors = shuffleArray(Array.prototype.slice.call(contributors));
   var newContributorElements = document.createDocumentFragment();
   for (var i = 0; i < shuffledContributors.length; i++) {
     newContributorElements.appendChild(shuffledContributors[i].cloneNode(true));
   }
   wrapper[0].innerHTML = null;
   wrapper[0].appendChild(newContributorElements);

   // If a contributor anchor is in the URL, the shuffle would have likely moved the
   // targeted div, so we need to reset the location hash to tell the browser to
   // refocus after the switcharoo
   if(window.location.hash) {
     var previousHash = window.location.hash;
     window.location.hash = "";
     window.location.hash = previousHash;
   }
 }

 shuffleContributors();
</script>
