---
title: Events
layout: page
permalink: /events
---

<h1>Upcoming Events</h1>

<ul class="events-list" id="upcoming-events"></ul>
<!--
<h1>Past Events</h1>
<ul class="events-list" id="past-events"></ul> -->

{% include eventProvider.html %}

<script>
  provideEvents(false); // Set true when enabling past events
</script>
