---
title: Subscribe
layout: page
permalink: /subscribe
---

<h1>Subscribe to our mailing list</h1>

<p>
  We send occasional emails to announce upcoming books and events. We won't
  share your information or use it for any evil purposes. You can unsubscribe
  any time you want.
</p>

{% include signup.html %}

<h1>Social media</h1>

<p>
  Follow us for publication announcements, inside looks into the press, and
  more.
</p>
<ul>
  <li>
    <a href="https://www.instagram.com/nothingtosaypress"
      >instagram @nothingtosaypress</a
    >
  </li>
</ul>
