<div class="article-postlude">
  <p>follow us to hear about new publications and events</p>

  {% include signup.html %}

  <ul>
    <li>
      <a href="https://www.instagram.com/nothingtosaypress"
        >instagram @nothingtosaypress</a
      >
    </li>
  </ul>
</div>
