<div class="book-list">
  {% for book in site.data.books %} {% include bookCard.html title=book.title
  author=book.author previewImageUrl=book.previewImageUrl link=book.link
  description=book.description %} {% endfor %}
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const images = document.querySelectorAll(".image-container img");
    images.forEach((img) => {
      if (img.complete) {
        img.classList.add("loaded");
      } else {
        img.onload = () => {
          img.classList.add("loaded");
        };
      }
    });
  });
</script>
