<div class="book-card">
  <a href="{{ include.link }}"></a>
  <div class="image-container">
    <img
      src="{{ include.previewImageUrl }}"
      alt="Book cover for {{ include.title }}"
    />
    <div class="book-superimposed-title-and-author">
      <h2>{{ include.title }}</h2>
      <h3>{{ include.author }}</h3>
    </div>
  </div>
  <div class="description">{{ include.description | markdownify }}</div>
</div>
