<footer class="site-footer">

  <div class="centered-wrapper">
    <div class="wrapper">

      <div class="footer-col-wrapper">
        <div class="footer-col">
          <p>{{ site.description | escape }}</p>
        </div>

        <div class="footer-col">
          <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
        </div>

        <div class="footer-col">
          <a href="{{ site.source_url }}">source code</a>
        </div>
      </div>

    </div>
  </div>

</footer>
