<footer class="site-footer">
  <div class="centered-wrapper">
    <div class="copyright">
      © {% if page.author %} {{ page.author }} {% elsif page.layout == "review"
      %} Nothing to Say {% endif %} {{page.date | date: "%Y"}}
      <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
        >Creative Commons BY-NC-SA 4.0</a
      >
      {% if page.copyright_exceptions %} {{ page.copyright_exceptions }} {%
      endif %}
    </div>
    <div class="wrapper">
      <div class="footer-col-wrapper">
        <div class="footer-col">
          <p><a class="page-link" href="/about.html">About</a></p>
        </div>

        <div class="footer-col">
          <p><a href="/subscribe.html">Subscribe</a></p>
        </div>

        <div class="footer-col">
          <a href="{{ site.source_url }}">Code</a>
        </div>
      </div>
    </div>
  </div>
</footer>
