<header class="site-header" role="banner">
  <div class="centered-wrapper">
    <div class="wrapper">
      {% assign default_paths = site.pages | map: "path" %}
      <nav class="site-nav">
        <a class="site-title" href="/">Nothing to Say</a>
        <div class="nav-links">
          <a class="page-link" href="/subscribe">subscribe</a>
          <a class="page-link" href="/events">events</a>
          <a class="page-link" href="/submit">submit</a>
          <a class="page-link" href="/archive">archive</a>
          <a class="page-link" href="/about">about</a>
        </div>
      </nav>
    </div>
  </div>
</header>
