<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.layout == "post" %}
  <meta property="og:type" content="article" />
  {% endif %}
  {% if page.external_thumbnail_description %}
  <meta property="description" content="{{ page.external_thumbnail_description }}" />
  <meta property="og:description" content="{{ page.external_thumbnail_description }}" />
  <meta name="twitter:description" content="{{ page.external_thumbnail_description }}" />
  {% endif %}
  {% if page.external_thumbnail_path %}
  <meta property="og:image" content="{{ page.external_thumbnail_path | absolute_url }}" />
  <meta name="twitter:image" content="{{ page.external_thumbnail_path | absolute_url }}" />
  {% else %}
  <meta property="og:image" content="{{ "/assets/images/fermata_preview.png" | absolute_url }}" />
  <meta name="twitter:image" content="{{ "/assets/images/fermata_preview.png" | absolute_url }}" />
  {% endif %}
  <meta property="og:image:width" content="836" />
  <meta property="og:image:height" content="536" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@nothingtosayorg" />
  <meta name="twitter:title" content="{% if page.head_title %}{{ page.head_title | escape }} | nothing to say{% elsif page.title %}{{ page.title | escape }} | nothing to say{% else %}nothing to say{% endif %}" />

  <title>{% if page.head_title %}{{ page.head_title | escape }} | nothing to say{% elsif page.title %}{{ page.title | escape }} | nothing to say{% else %}nothing to say{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  {% if page.include_bml %}
  <script src="/assets/shared/js/bml.bundle.js"></script>
  {% endif %}
  {% if page.include_plyr %}
  <script src="/assets/shared/js/plyr.js"></script>
  <link rel="stylesheet" href="/assets/shared/css/plyr.css"></link>
  {% endif %}

  <link rel="icon" href="{{ "/assets/images/favicon.png" | relative_url }}" />
  <link rel="apple-touch-icon" href="{{ "/assets/images/favicon.png" | relative_url }}" />
</head>
