<script>
  var MIN_FERMATAS = typeof MIN_FERMATAS !== "undefined" ? MIN_FERMATAS : 0;
  var MAX_FERMATAS = typeof MAX_FERMATAS !== "undefined" ? MAX_FERMATAS : 6;
  var MIN_FERMATA_SCALE =
    typeof MIN_FERMATA_SCALE !== "undefined" ? MIN_FERMATA_SCALE : 0.2;
  var MAX_FERMATA_SCALE =
    typeof MAX_FERMATA_SCALE !== "undefined" ? MAX_FERMATA_SCALE : 3.0;
  var RANDOM_STRINGS =
    typeof RANDOM_STRINGS !== "undefined" ? RANDOM_STRINGS : [];
  var MIN_FLOATING_TEXT =
    typeof MIN_FLOATING_TEXT !== "undefined" ? MIN_FLOATING_TEXT : 0;
  var MAX_FLOATING_TEXT =
    typeof MAX_FLOATING_TEXT !== "undefined" ? MAX_FLOATING_TEXT : 100;

  function randomFloat(min, max) {
    if (max < min) {
      return min;
    }
    return Math.random() * (max - min) + min;
  }

  function randomInt(min, max) {
    return Math.floor(randomFloat(min, max));
  }

  function createSvgDefs(contentColor) {
    return (
      "<defs>" +
      `<path id="fermata-svg" style="fill:${contentColor}" d="m 50,333 503,0 c 28,0 50,-12 50,-27 L 603,13 C 603,6 592,0 578,0 565,0 554,6 554,13 l 0,188 c 0,12 -127,18 -253,18 C 175,219 49,213 49,201 L 49,13 C 49,6 38,0 24,0 11,0 0,6 0,13 l 0,293 c 0,15 22,27 50,27 z M 356,54 c 0,-30 -24,-55 -55,-55 -30,0 -54,25 -54,55 0,30 24,54 54,54 31,0 55,-24 55,-54 z" />` +
      "</defs>"
    );
  }

  function createBackgroundSvg(contentColor) {
    var randomFloatingElementsSvgContent =
      createRandomFermatasSvgContent(contentColor);
    var randomFloatingTextSvgContent = RANDOM_STRINGS.length
      ? createRandomTextContent(contentColor)
      : "";

    return (
      '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" ' +
      'width="100%" height="100%" viewBox="0 0 1620 1280" ' +
      'preserveAspectRatio="xMidYMid slice" ' +
      'style="position: absolute; left: 0; top: 0">' +
      createSvgDefs(contentColor) +
      randomFloatingTextSvgContent +
      randomFloatingElementsSvgContent +
      "</svg>"
    );
  }

  /**
   * Random background image fermatas
   */

  function randomFloatingElementRotation() {
    var angle = randomFloat(170, 195);
    return "rotate(" + angle + ")";
  }

  function randomFloatingElementScale() {
    var factor = randomFloat(MIN_FERMATA_SCALE, MAX_FERMATA_SCALE);
    return "scale(" + factor + ", " + factor + ")";
  }

  function randomFloatingElementTransform() {
    return randomFloatingElementRotation() + " " + randomFloatingElementScale();
  }

  function randomFloatingTextRotation() {
    var angle = randomFloat(0, 25);
    return "rotate(" + angle + ")";
  }

  function randomFloatingTextTransform() {
    return randomFloatingTextRotation() + " " + randomFloatingElementScale();
  }

  function randomFloatingElementX() {
    return "" + randomFloat(-20, 90) + "%";
  }

  function randomFloatingElementY() {
    return "" + randomFloat(0, 120) + "%";
  }

  function createRandomFermataElement() {
    return (
      '<svg overflow="visible" ' +
      'x="' +
      randomFloatingElementX() +
      '" ' +
      'y="' +
      randomFloatingElementY() +
      '" ' +
      ">" +
      '<use xlink:href="#fermata-svg" ' +
      'transform="' +
      randomFloatingElementTransform() +
      '" />' +
      "</svg>"
    );
  }

  function createRandomFermatasSvgContent() {
    var fermataCount = randomInt(MIN_FERMATAS, MAX_FERMATAS);
    var svgContent = "";
    for (var i = 0; i < fermataCount; i++) {
      svgContent += createRandomFermataElement();
    }

    return svgContent;
  }

  function randomFloatingTextFontSize() {
    return randomInt(5, 100);
  }

  function lightenColor(color, amount) {
    return color.replace(
      /rgba?\((\d+),\s*(\d+),\s*(\d+)(?:,\s*\d*\.?\d+)?\)/,
      function (match, r, g, b) {
        return `rgba(${Math.min(
          Math.max(parseInt(r) + amount, 0),
          255
        )}, ${Math.min(Math.max(parseInt(g) + amount, 0), 255)}, ${Math.min(
          Math.max(parseInt(b) + amount, 0),
          255
        )})`;
      }
    );
  }

  function createRandomTextElement(contentColor) {
    return (
      '<svg overflow="visible" ' +
      'x="' +
      randomFloatingElementX() +
      '" ' +
      'y="' +
      randomFloatingElementY() +
      '" ' +
      ">" +
      `<style>.floating-text {
        font-family: EB Garamond;
        fill: ${contentColor}; size: ${randomFloatingTextFontSize()}px;
       }
       </style>` +
      '<text class="floating-text" ' +
      'transform="' +
      randomFloatingTextTransform() +
      '" ' +
      ">" +
      RANDOM_STRINGS[randomInt(0, RANDOM_STRINGS.length)] +
      "</text>" +
      "</svg>"
    );
  }

  function createRandomTextContent(contentColor) {
    let textColor = lightenColor(contentColor, 100);
    var elementCount = randomInt(MIN_FLOATING_TEXT, MAX_FLOATING_TEXT);
    var svgContent = "";
    for (var i = 0; i < elementCount; i++) {
      svgContent += createRandomTextElement(textColor);
    }
    return svgContent;
  }

  function createRandomDataURI(contentColor) {
    var inlineSvg = createBackgroundSvg(contentColor);
    var base64InlineSvg = window.btoa(inlineSvg);
    return 'url("data:image/svg+xml;base64,' + base64InlineSvg + '")';
  }

  function initRandomDesign() {
    if (window.screen.availWidth < 1000) {
      return;
    }
    document.getElementById("random-design").style.backgroundImage =
      createRandomDataURI(
        window.getComputedStyle(document.getElementById("left-frame"))
          .backgroundColor
      );
  }

  initRandomDesign();
</script>
