<script>
 function randomFloat(min, max) {
     if (max < min) {
         return min;
     }
     return Math.floor(Math.random() * (max - min)) + min;
 }

 function randomSvgLine(minStartY, maxStartY, minDeltaY, maxDeltaY, lineColor) {
   let yStartPct = randomFloat(minStartY, maxStartY);
   let yEndPct = yStartPct + randomFloat(minDeltaY, maxDeltaY);
   return '<line stroke="' + lineColor + '" '
        + 'stroke-width="1" vector-effect="non-scaling-stroke" '
        + 'x1="0" x2="100%" y1="' + yStartPct + '%" '
        + 'y2="' + yEndPct + '%" />';
 }

 function createBackgroundSvg(backgroundColor, lineColor) {
   let numLines = Math.floor(randomFloat(0, 300));
   let lineStrings = [];
   for (var i = 0; i < numLines; i++) {
     let factor = i / numLines;
     lineStrings.push(
       randomSvgLine(factor * 20,
                     factor * 100,
                     factor * 50,
                     factor * 100,
                     lineColor));
   }
   return '<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1620 1280" '
        + 'style="position: absolute; left: 0; top: 0">'
        + lineStrings.join('')
        + '</svg>';
 }

 function createRandomLineDataURI(backgroundColor, lineColor) {
   let inlineSvg = createBackgroundSvg(backgroundColor, lineColor);
   let base64InlineSvg = window.btoa(inlineSvg);
   return 'url("data:image/svg+xml;base64,' + base64InlineSvg + '")';
 }

 document.body.style.backgroundImage = createRandomLineDataURI(
   window.getComputedStyle(document.getElementById('vertical-line')).backgroundColor,
   window.getComputedStyle(document.getElementById('vertical-line')).borderRightColor
 );
</script>


