<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_shell">
  <link
    href="//cdn-images.mailchimp.com/embedcode/classic-061523.css"
    rel="stylesheet"
    type="text/css"
  />
  <style type="text/css">
    #mc_embed_signup {
      clear: left;
      font: 20px EB Garamond;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
    }
  </style>
  <div id="mc_embed_signup">
    <form
      action="https://nothing-to-say.us16.list-manage.com/subscribe/post?u=2e899d8ea46ecf8bb761ae8e8&amp;id=e83c3af2d9&amp;f_id=00192ae0f0"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      class="validate"
      target="_self"
      novalidate=""
    >
      <div id="mc_embed_signup_scroll">
        <div class="mc-field-group">
          <label for="mce-EMAIL"
            >Email Address <span class="asterisk">*</span></label
          ><input
            type="email"
            name="EMAIL"
            class="required email"
            id="mce-EMAIL"
            required=""
            value=""
          />
        </div>
        <div id="mce-responses" class="clear foot">
          <div
            class="response"
            id="mce-error-response"
            style="display: none"
          ></div>
          <div
            class="response"
            id="mce-success-response"
            style="display: none"
          ></div>
        </div>
        <div style="position: absolute; left: -5000px" aria-hidden="true">
          /* real people should not fill this in and expect good things - do not
          remove this or risk form bot signups */
          <input
            type="text"
            name="b_2e899d8ea46ecf8bb761ae8e8_e83c3af2d9"
            tabindex="-1"
            value=""
          />
        </div>
        <div class="optionalParent">
          <div class="clear foot">
            <input
              style="font-family: EB Garamond"
              type="submit"
              name="subscribe"
              id="mc-embedded-subscribe"
              class="button"
              value="Subscribe"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!--End mc_embed_signup-->
