@font-face {
  font-family: "DM Serif Display";
  src: local("DM Serif Display Italic"), local("DMSerifDisplay-Italic"),
    url("/assets/fonts/subset-DMSerifDisplay-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DM Serif Display";
  src: local("DM Serif Display Regular"), local("DMSerifDisplay-Regular"),
    url("/assets/fonts/subset-DMSerifDisplay-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond";
  src: local("EB Garamond Regular"), local("EBGaramond-Regular"),
    url("/assets/fonts/subset-EBGaramond-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond";
  src: local("EB Garamond Italic"), local("EBGaramond-Italic"),
    url("/assets/fonts/subset-EBGaramond-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
