---
layout: post
title: "HUMAN KIND: Music for Empathic Activism"
author: "cat toren"
author_slug: "cat-toren"
date: 2017-12-04
permalink: /cat-toren/humankind.html
external_thumbnail_description: lessons learned from a tour across the states teach us to "look people in the eye, with your heart"
---

<style>
 section {
     margin-top: 2em;
     margin-bottom: 10em;
     text-align: justify;
 }
 section > p:first-child:first-letter {
     font-size: 50px;
 }
 section > p:first-child:first-line {
     font-weight: bold;
     line-height: 25px;
 }
</style>
<p>
    <i>
        This article is based on a lecture presented at the University of British Columbia in Vancouver, BC as part of the International Institute for Critical Studies in Improvisation (IICSI) in 2017. The lecture was given by a Canadian artist living in New York for a Canadian audience. Nuances that stem from this have been left in the text intentionally.
    </i>
</p>
<section>
    <p>
        The political climate of 2017 mobilized a new generation of political activism, from the Women’s March Movement to crowd sourced fundraising. Reaction to current events from artists and musicians is nothing new as we look back to the great protest songs of the 60s, but the rebirth of this trend is strong and, for my generation (I’m an 80s baby), it is fresh. Today’s artists are continuing the legacy of politically themed music, bridging tradition with the present-day.
    </p>
    <p>
        My response to today’s political landscape comes in the form of six original compositions influenced by the free-form, socially conscious jazz of the late ’60s as well as today’s resurgent civil rights movement. The album and project title is <a href="https://cattorenband.bandcamp.com/album/cat-torens-human-kind"><i>Cat Toren’s HUMAN KIND</i></a> which was released January 21st, 2017, to coincide with the first full day of the new presidency in America (and as fate would decide, the day of the Women’s March on Washington—I launched the album release in the wee hours of that morning). Proceeds from album sales benefit the American Civil Liberties Union.
    </p>
    <p>
        Previously, I had always avoided politics. Imposing my views on others felt wrong. My father was a social worker, as his father before him, and I remember my brother often saying, <i>“Dad, you never have an opinion on anything”.</i> He taught by example that one can see not just two sides to every story, but many sides with many factors. For me, his lesson manifested in a desire to keep the peace, rather than debate. Often, I kept quiet for fear of offence. I never would have expected that my youthful neutrality would mature into a type of Empathic Activism.
    </p>
    <p>
        If the agreed upon definition of activism is an outward and vigorous endeavour to direct political reform, there must be a complimentary form of activism whose power comes from within. I call it Empathic Activism. Activism through demonstration often puts emphasis on our differences while Empathic Activism strives to point out our similarities, forgoing an “us” versus “them” mentality. It focuses on listening and being, creating space for others to consider the many sides of each story. It does not mean you agree with everyone. I have sought to foster Empathic Activism through the music on my album (in addition to other personal efforts) and hoped it would encourage others to use their talents towards Empathic Activism as well.
    </p>
</section>
<section>
    <p>
        This past May I received my Masters of Music Composition and in doing so had to drive 40 miles (through New York traffic) to campus several times a week. On these drives I often listened to local public radio, where a lot of the discussion centered around politics. This reporting increased my awareness of the many longstanding issues such as  xenophobia, gun control and misogyny. It became clear that these issues were too significant to remain neutral on and required a new discourse that incorporated empathy.
    </p>
    <p>
        In my program, I was studying and writing mainly chamber music and thus, my jazz career took on a very different—not opposing, but complimenting—form. I put intellectual weight into my studies, so when I sat down at the piano to play for myself, I used only my intuition to guide what came out of my fingers. I had no timeline or specific goal. I only wrote when I felt creativity and joy flowing easily. The works on <i>Cat Toren’s HUMAN KIND</i> are the product of this process.
    </p>
    <p>
        I had spent time studying Alice Coltrane and John Coltrane’s work of the late 60’s, music I am very passionate about. I saw the great link between their music, spirituality and the socio-political climate that that music was born out of. The music coincided with the strength of the civil rights movement and musicians were front and center. John Coltrane composed <i>Alabama</i> in the wake of the bombing of the 16th street baptist church in Birmingham that killed four young girls. Nina Simone sang <i>Mississippi Goddam</i> in Carnegie Hall, a jaunty tune with haunting lyrics like <i>“I think every day’s gonna be my last”</i> to a mostly white middle class audience. To know these songs is to know their history. In an interview with Frank Kofsky, John says <i>“I think music, being an expression of the human heart, of the human being, itself, does express just what is happening.”</i> The quote would later become inspirational to my <i>HUMAN KIND</i> project.
    </p>
    <p>
        Elements of world music (the term “world music” wouldn’t be used until decades later, this was very cutting edge) influenced jazz, particularly classical music from India. The popularity of Ravi Shankar from the late 1950’s onward made a considerable impact on diverse genres of music including the likes of the Coltranes, Pharaoh Sanders, The Byrds, George Harrison and the Beatles, and Philip Glass. What I appreciate about how both John and Alice Coltrane incorporated the east into their lives and music is that it wasn’t overt. John Coltrane is quoted saying <i>“my music is the spiritual expression of what I am”</i>. He wasn’t copying precisely. John and Alice Coltrane were searching to experience Universal Consciousness and self realization, and used their music to expand the consciousness of the listener. They believed in the mystical power of music, that music could be a force for good. This is not unlike the Eastern notion that spirituality and music are but one entity; that music has the power to produce emotions and move elements in nature. Indeed, if everything is vibration—as the law of vibration affirms—and sound is vibration, we can literally “tune” ourselves (and what more?).
    </p>
    <p>
        Characteristics of Eastern Music infused into jazz include free meter intros, playing over drones, rhythmic or melodic permutations and a step back from complex harmony. Many of these elements made it into my compositions on <i>Cat Toren’s HUMAN KIND</i>. As an example, the opening track, <a href="https://cattorenband.bandcamp.com/track/regression">Regression</a>, begins with a rubato melody over a fixed drone—a sound that holds spiritual power and straddles both quiescence and possibility. This is followed by triadic movement (of western tradition) floating over the drone which dissipates into solo oud whereafter strict time and a new melody is brought in. This is the marriage of many genres working together and quite frankly not out of the ordinary. However, it must come naturally to the composer. When I write, all I have heard, seen and lived, all that has been simmering for decades, it tumbles out of me as a remix of my experiences. There is something magical and deeply personal in that process.
    </p>
    <p>
        The Coltranes believed all religions have elements of truth and something to teach. Their liner notes often conjoined texts and myths from various religions, as exemplified in the liner notes of Alice Coltrane’s album <i>“Universal Consciousness”</i> which she recorded after touring the holy places of India with Swami Satchidananda. (Fun fact: he was also the guru that opened Woodstock.) With <i>Cat Toren’s HUMAN KIND</i>, I sought to find more of the human connection than overtly searching for a spiritual connection like some of the earlier music that inspired me, but it could be viewed as two means to the same end. People can to tap into their spirituality—or essence or true self—to find empathy in order to foster human kindness and an understanding of the world. When I play music, it is always spiritual. I cannot diverge the two. It is when I’m most myself, which is ultimately what we are hoping to find—our true essence or nature. We must ask ourselves how we individually find this in our lives? Then, how can we use it foster kindness? Could that translate politically? How do we do this practically? When you tap into real empathy, how might this affect what is acceptable as the bottom line for a political leader? Would it be easy to turn a blind eye to misogyny and bigotry, for example? The only way to become a “great” nation is through empathy.
    </p>
</section>
<section>
    <p>
        In spring 2017, <i>Cat Toren’s HUMAN KIND</i> toured from New York through the Midwest. We drove through small towns with adverts aimed at coal miners and gun enthusiasts, pubs and motels with banners stating <i>“Blue Lives Matter”</i> and <i>“Pipeline Workers Welcome”.</i> Coming from Western Canada, this was certainly a foreign environment for me. Encouragingly, at each city we performed at - Baltimore, Pittsburgh, Cleveland, Ann Arbor and back to Brooklyn - we were met with an overwhelmingly welcoming response. I met warm people with interesting stories at every performance, many of whom responded to my brand of Empathic Activism and shared with me their own approaches.
    </p>
    <p>
        The first night in Baltimore, I felt nervous. Despite my having integrated into Brooklyn life, I felt like an outsider in a new country. I’m a Canadian, a caucasian Canadian, in America, promoting empathy for others and civil rights awareness and yet I can’t vote. Doubt and fear was a constant throughout the creation and promotion of this music. I wrote one of my professors who frequently composes politically themed works (her latest opera, <a href="http://www.aopopera.org/AsOne/"><i>“As One”</i></a>, about a transgendered person has received critical acclaim) asking her what she does when fear floods over her. She responded with a quote by the author Toni Morrison which proved to generate so much power and confidence in me that I included it in my liner notes. This evening in Baltimore, I admitted to my audience that I had many fears, but there were words to get me, or us, through. <i>“This is precisely the time when artists go to work. There is no time for despair, no place for self-pity, no need for silence, no room for fear. We speak, we write, we do language. That is how civilizations heal.”</i> Smiles of knowing spread across many of the diverse audience members’ faces, another recognition that we must share ourselves, our passions and inhibitions, and celebrate this in all people. Beneath it all, we strive to find connection with others.
    </p>
    <p>
        The following day we drove to Pittsburgh, Pennsylvania. I was looking forward to this performance because we were playing in a new concert venue as part of an organization called <a href="http://cityofasylum.org">City of Asylum</a>, an sanctuary for exiled writers. This dream place deserves a little backstory. In 1997 Salman Rushdie gave a talk in Pittsburgh as part of his re-emergence into public life during which he mentioned a network of asylums for exiled writers that had formed in Europe. The two founders of Pittsburgh’s City of Asylum were in the audience and set to work on joining this network as well. The network now includes two other American cities, Las Vegas and Ithaca. The Pittsburgh Asylum in unique in that it is not institutionally sponsored, it is supported by individuals and foundations including the National Endowment for the Arts. They are committed to helping exiled writers build new homes and a new life as part of a community. They provide an exiled writer and family with a house, stipend, medical benefits and other necessary assistance for two years. At the time of our performance, they were housing three exiled writers from Syria, Bangladesh and Iran. We were treated well, dined with the founders and were delighted to hear that our show was completely sold out! (All concerts are free to the public, an RSVP is required to keep track of numbers.) My first time in Pittsburgh, I felt again optimistic that this small tour was impactful.
    </p>
    <p>
        A fellow in a renewable energy T-shirt approached me after the performance. He asked me if I was an activist, which provoked the gut reaction to say “No”. But instead got caught stalling. Indeed the term activist still had connotations I wasn’t yet comfortable facing. Not only this, his definition of activist may differ from mine, so my answer may misrepresent how I really feel. Many of us see activism as forceful and persuasive, even bull headed, despite good intentions. Of course, this is not always the case and contrarily, in certain circumstances this behaviour can assist in achieving a goal. However, I would like to stress the value and existence of the more sensitive activist, those well suited to Empathic Activism.
    </p>
    <p>
        After our performance in Cleveland, Ohio, I met a man with an infectious smile and powerful aura. I spotted him just prior to walking on stage, I could sense his excitement for the music. Afterword, in conversation he said <i>“I wanted to ask you about kindness. Why do you want to talk about human kindness?”.</i> I went on to tell him about how I thought empathy was necessary for moving forward as a socially conscious nation. I told him how our collective priorities must put human rights (each other) first, up there with climate change (Mother Earth/our future generations), and I didn’t see or understand how this was negotiable to so many individuals. He told me about his upbringing. <i>“I grew up without much”</i> he says. <i>“I have some musicians in my family. I love music and I would often turn to records. I would listen to Miles and Coltrane in my room, as a means of escape”</i>. He expressed that he perceived the intention behind every note I played to be kindness, which was a powerful statement for him. I wished I had followed by asking what he had felt behind those notes from Miles and Coltrane; what was it that helped him “escape”? I told him that I felt music was my medium to express and communicate and he announced, <i>“I’m more of an orator.”</i> I loved this! <i>“I also write.”</i> he says. <i>“When I listened to your music just now, all the words just came to me. I felt an urgency to write.”</i> This is exactly the type of Empathic Activism that I am hoping to inspire with my project. My band and I inspired creativity in another person, one who will create beautiful and necessary writings and readings. He in turn inspired me. We must cultivate this type of global community.
    </p>
    <p>
        There is a great unconscious or unintentional lack of empathy and distorted political priorities in the world. I start the second paragraph of my liner notes stating, “The HUMAN KIND project believes in an understanding that what happens to your neighbour is held in humanity’s shared unconscious mind and is passed down generationally until our efforts transcend this unconsciousness.” In a majority of cases&mdash;or at least I’d like to think so&mdash;people generally set out to be kind. They would consider themselves kind people and in many instances they are! But bigotry is often a reflex knit into the collective memory of a nation. I recently read in a book that it is hard to be white and empathic and I think there’s some truth to that. I also am sure empathy can be learned and practiced. The book, <i>Tears We Cannot Stop</i> by Michael Eric Dyson, is a sermon addressed to white people about how to better understand black culture and history in America. He addressed eloquently many of the topics on my mind in these times. I learned more about American history and how somebody like me, a privileged person, can be part of the fight for racial justice.
    </p>
    <p>
        Reading helped me focus my thoughts and put my own words to some important practical things we can do to transcend collective unconsciousness. I want to share a few of them. If they are old news for some, simply enjoy the refresher.
    </p>
        <ol>
            <li><p>No one should need to accommodate for the proverbial “rich, white man”. Any non-white group has very likely been spending the majority of their histories on North American soil accommodating to white people. First we must acknowledge this. Second, decide it should change. And third, be okay with that change. Undoubtedly, it could take generations. Canada has taken big steps with the First Nations through the Truth and Reconciliation Commission.</p></li>
            <li><p>Take notice of unconscious behavioural patterns pertaining (but not limited) to sexism, ageism, homophobia and racism. Noticing comes first, action follows. It takes work to change world-views that have been instilled for so long. This is all in a nations unconscious collective memory—precisely what we need to transcend!</p></li>
            <li><p>Be curious and educate oneself, otherwise our world-view is dangerously incomplete. Talking to others, reading, making new friends, anything of this nature.</p></li>
            <li><p>Participate in ways in which you feel called. It may include rallies, marches, community meetings, volunteering as vigil keepers, etc. If you are not directly affected it would make more of an impact—your solidarity will be welcomed!</p</li>
            <li><p>Practice empathy. Look people in the eye, with your heart.</p></li>
            <li><p>Take notice if another individual is acting or speaking in a way that feeds into global collective unconsciousness and lack of empathy. It may be time to say something or, in challenging situations, call on help. It is paramount to have each others’ backs and chip away at eliminating unconscious problematic patterns. It is all too easy to ignore an issue  that does not concern you directly. <i>“Until we are all free, we are none of us free”</i> as Emma Lazarus declared. We need each other across borders, learning from each others’ successes and assisting each other in need.</p></li>
        </ol>
</section>
<section>
    <p>
        I played piano for a Unitarian congregation in Brooklyn, NY called <a href="https://www.facebook.com/OriginalBlessingUU/">Original Blessing</a>. Each meeting, the group would read the same Martin Luther King Jr. quote aloud in unison. It relates to and elaborates on this topic of fundamental human connectedness beautifully. There was exponential power in collectively reciting it week after week. I will conclude with its words: <i>“In a real sense all life is inter-related. All men are caught in an inescapable network of mutuality, tied in a single garment of destiny. Whatever affects one directly, affects all indirectly. I can never be what I ought to be until you are what you ought to be, and you can never be what you ought to be until I am what I ought to be&hellip;This is the inter-related structure of reality.”</i>
    </p>
</section>
