---
layout: post
title: "trading passive verbs"
author: "andrew yoon"
author_slug: "andrew-yoon"
date: 2017-11-26
permalink: /andrew-yoon/trading-passive-verbs.html
include_bml: "true"
external_thumbnail_description: an essaypoem riffing on the boundaries between things
---

<div id="bml-target"></div>




<script>
 fetch('/assets/unique/2017-11-26-trading-passive-verbs.bml')
   .then(response => response.text())
   .then(data => {
     document.getElementById("bml-target").innerHTML = bml(data);
   });
</script>
<noscript>
    this document uses javascript to generate stochastic content.
    please consider enabling javascript for this domain.
    if you really don't want to, drop me a line at
    <a href="mailto:editors@nothing-to-say.org">editors@nothing-to-say.org</a>
    and next weekend i'll figure out a graceful fallback mechanism i guess.
</noscript>

