---
layout: post
title: "have you been writing?"
author: "andrew yoon"
author_slug: "andrew-yoon"
date: 2018-05-08
permalink: /andrew-yoon/have-you-been-writing.html
include_bml: "true"
external_thumbnail_description: as we deal with the realities of 21st century life, we need people to keep us accountable to our craft, and it starts with us.
---

<div id="bml-target"></div>

<script>
 var HttpClient = function() {
     this.get = function(aUrl, aCallback) {
         var anHttpRequest = new XMLHttpRequest();
         anHttpRequest.onreadystatechange = function() {
             if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
                 aCallback(anHttpRequest.responseText);
         }

         anHttpRequest.open( "GET", aUrl, true );
         anHttpRequest.send( null );
     }
 }
 var client = new HttpClient();
 client.get('/assets/unique/2018-05-08-andrew-yoon-have-you-been-writing.bml',
            function(response) {
                document.getElementById("bml-target").innerHTML = bml(response);
            });
</script>
<noscript>
    this document uses javascript to generate stochastic content.
    please consider enabling javascript for this domain.
    if you really don't want to, drop me a line at
    <a href="mailto:editors@nothing-to-say.org">editors@nothing-to-say.org</a>
    and next weekend i'll figure out a graceful fallback mechanism i guess.
</noscript>

