@use "sass:color";

/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
html {
  background-color: $background-color;
}

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height}
    $base-font-family;
  color: $text-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  z-index: -1;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  &:not(:last-child) {
    margin-bottom: $spacing-unit;
  }
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/**
 * Lists
 */
ul,
ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

ul {
  list-style: none;
  li:before {
    content: "» ";
    font-size: 1.2em;
    font-weight: bold;
  }
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: $base-font-weight;
  color: $grey-color-dark;
}

/**
 * Links
 */
a {
  color: $highlight-color;
  text-decoration: none;

  &:visited {
    color: color.adjust($highlight-color, $lightness: -15%);
  }

  &:hover {
    color: $highlight-color-variation;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}

/**
 * Blockquotes
 */
blockquote {
  padding-left: $spacing-unit;
  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
code {
  @include relative-font-size(0.9375);
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.vignette {
  margin-left: 10%;
  font-size: $small-font-size;
}

.paragraph-opening-splash {
  font-size: $larger-font-size;
  line-height: $base-font-size;
}

sup {
  vertical-align: top;
  font-size: $tiny-font-size;
}

.footnotes {
  margin-top: $spacing-unit * 2;
  padding-top: $spacing-unit * 2;
  border-top: 1px solid $grey-color-light;
  font-size: $small-font-size;

  margin-top: $spacing-unit * 2;
  padding-top: $spacing-unit * 2;

  p:last-child {
    margin-bottom: 0;
  }
}

/**
 * Big floating fermata background overlay
 */
#fermata-bg-container {
  overflow: hidden;
  position: relative;
}

/**
 * Centered Wrapper
 */
.centered-wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin: auto;
  overflow: visible;
  background: transparent;
  position: relative;
}

/**
 * Real content wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  background: $background-color;
  z-index: 100000;

  @extend %clearfix;

  @include media-query($on-medium) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: calc($spacing-unit / 2);
    padding-left: calc($spacing-unit / 2);
  }
}

/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  vertical-align: middle;

  path {
    fill: $grey-color;
  }
}

.social-media-list {
  .icon {
    padding-right: 5px;
  }

  li + li {
    padding-top: 5px;
  }
}
