<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}
  <body>
    <div id="left-frame"></div>

    {% include header.html %}

    <div id="random-design"></div>
        <div class="centered-wrapper">
        <div class="wrapper">
            <main class="page-content" aria-label="Content">
                {{ content }}
            </main>
            </div>
        </div>
        </div>
    </div>
    {% include footer.html %}

  </body>
  {% include randomDesign.html %}
  {% include analytics.html %}
</html>
