---
layout: default
---

<div class="home">
  <p>
    Nothing to Say is a small press based in Brooklyn and Queens. We publish
    poetry that we love and think you'll love too.
  </p>

  {% include bookList.html %}

  <p>
    For review copies, bulk orders, permissions, and other inquiries, please
    contact the editors at
    <a href="mailto:editors@nothing-to-say.org">editors@nothing-to-say.org</a>.
  </p>
</div>

<script>
  MIN_FERMATAS = 0;
  MAX_FERMATAS = 20;
  MIN_FERMATA_SCALE = 0.01;
  MAX_FERMATA_SCALE = 2;
</script>
