---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
        • <a href="/contributors.html#{{ page.author_slug }}">{{ page.author }}</a>
      </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  
  {% include articlePostlude.html %}
</article>
