---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      {{ page.date | date: date_format }}
      {% if page.author %}
        • <span>{{ page.author }}</span>
      {% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if page.issue %}
  <div>
    <a href="/issues/{{ page.issue }}.html">return to issue {{ page.issue }}</a>
  </div>
  {% endif %}


</article>
