<!DOCTYPE html>
<html>
  <head>
    <link rel="canonical" href="{{ page.redirect_to }}"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="refresh" content="0;url={{ page.redirect_to }}" />
  </head>
  <body>
    <p>Redirecting...</p>
    <a href="{{ page.redirect_to }}">Click here if you are not redirected.<a>
      <script>location='{{ page.redirect_to }}'</script>
  </body>
</html>

